[mysql_base]
10.1.0.2 mysql_version=ps_56

[mysql_slave]
10.1.0.3 mysql_version=mysql_56 server_id=201 repl_parent=10.1.0.2
10.1.0.4 mysql_version=mariadb_100 server_id=202 repl_parent=10.1.0.3


[mmm_node]
10.2.0.2 name=db1 server_id=1 repl_parent=10.2.0.3
10.2.0.3 name=db2 server_id=2 repl_parent=10.2.0.2

[mmm_manager]
10.2.0.4
